exportPattern("^[^\\.]")
import(dplyr)
importFrom(stringr, str_detect)
importFrom(stringr, str_trim)
importFrom(stringr, str_replace_all)
importFrom(stringr, str_replace)
importFrom(magrittr, use_series)
importFrom(magrittr, set_colnames)
importFrom(magrittr, set_names)
importFrom(magrittr, extract)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_boxplot)
importFrom(ggplot2, geom_histogram)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, stat_quantile)
importFrom(ggplot2, facet_wrap)
importFrom(ggplot2, labs)
importFrom(ggplot2, xlim)
importFrom(ggplot2, scale_x_continuous)
importFrom(ggplot2, scale_y_continuous)
importFrom(ggplot2, scale_colour_manual)
importFrom(ggplot2, position_jitter)
importFrom(ggplot2, theme_bw)
importFrom(memisc, mtable)
importFrom(memisc, relabel)
S3method(getModelSummary, lm)
S3method(getModelSummary, glm)
S3method(getModelSummary, zeroinfl)
